.container {
    max-width: 1200px;
    margin: auto;
    background-color: lightgray;
    opacity: 0.95;

}

body {
    background-image: url('images/hallstatt.jpg');
    background-size: cover;


    width: 100%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

#pageName {
    font-size: 46px;
    justify-content: center;
    text-align: center;
}

#description {
    justify-content: center;
    text-align: center;
}

.headerMenu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    gap: 20px;
    background: linear-gradient(#a7a7a7, #9198e5);
    font-optical-sizing: auto;
    height: 60px;

}

.footerMenu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
    background: linear-gradient(#a7a7a7, #9198e5);
    font-optical-sizing: auto;
    height: 60px;
    vertical-align: middle;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;

}

li {
    display: flex;
    vertical-align: middle;
    padding-top: 12px;
    gap: 10px;
    justify-content: center;
}

.productCategoryMenu {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.news {
    display: flex;
    list-style-type: none;
    gap: 10px;
}


#menu {
    padding: 0;
}

.productImg {
    max-width: 200px;
    max-height: 200px;
}

#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

#containerWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.newsContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 0 10px 0 10px;
    max-width: 500px;
    align-items: center;
}

#wrapper {
    /* min-height: 200px; */
    /*display: flex; */
    justify-content: center;
    align-items: center;
}

.productContainer {
    border: 2px solid black;
    box-shadow: 10px 5px 5px grey;
}

.frontImg {
    max-width: 400px;
    margin: 0 100px 0 0;
}

@media screen and (min-width: 320px) {
    body {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 22px;
    }
}

.cartImg {
    width: 50px;
    height: 50px;
}

.cartWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.prodWrapper {
    display: flex;
    gap: 1em;
}

#kontakt {
    order: 5;
}

#om-oss {
    order: 4;
}

#varukorg {
    order: 6;
}

#butik {
    order: 2;
}

#hem {
    order: 1;
}

#nyheter {
    order: 3;
}

#welcomeInfo {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    max-width: 500px;
}