body {
    width: 100%;
    background-color: lightgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pageName {
    font-size: 46px;
}

.headerMenu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 10px;
    background-color: rgb(127, 204, 255);
    font-size: 30px;
    height: 50px;
}

.footerMenu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
    background-color: rgb(127, 204, 255);
    font-size: 20px;
    height: 50px;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.productCategoryMenu {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.news {
    display: flex;
    list-style-type: none;
    gap: 10px;
}


#menu {
    padding: 0;
}

.productImg {
    max-width: 200px;
    max-height: 200px;
}

#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 10px 0 10px 0;
}

#containerWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

.newsContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 0 10px 0 10px;
    max-width: 500px;
    align-items: center;
}

#wrapper {
    /* min-height: 200px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.productContainer {
    border: 2px solid black;
    box-shadow: 10px 5px 5px grey;
}

.frontImg {
    max-width: 400px;
    margin: 0 200px 0 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;

}

.container {
    overflow: hidden;
    padding: 20px;
    margin-top: 2em;
    background: rgba(0, 0, 0, .1);
    max-width: 1200px;
    margin: auto;
}

.card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
    .card-carousel {
        margin-left: calc((100vw - var(--carousel-min-width) - 80px)/2)
    }

    .headerMenu {
        font-size: 20px;
    }

    .footerMenu {
        font-size: 18px;
    }
}

.card-carousel.smooth-return {
    transition: all .2s ease;
}

.card-carousel .card {
    background: rgb(218, 216, 216);
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0, 0, 0, .5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card.highlight {
    filter: brightness(1)
}


.card:nth-of-type(1) .image-container {
    background-image: url("https://axlwatch.se/wp-content/uploads/2023/03/DALL·E-2023-03-17-09.41.20-armwatch-product-pictures.png");
}

.card:nth-of-type(2) .image-container {
    background-image: url("https://axlwatch.se/wp-content/uploads/2023/03/DALL·E-2023-03-12-13.46.47-watch-in-smoke-white-background.png")
}

.card:nth-of-type(3) .image-container {
    background-image: url("https://axlwatch.se/wp-content/uploads/2023/03/DALL·E-2023-03-17-10.24.05-wristwatch-product-pictures-outside-summer.png")
}

.card:nth-of-type(4) .image-container {
    background-image: url("https://axlwatch.se/wp-content/uploads/2023/03/DALL·E-2023-03-17-10.22.28-armwatch-product-pictures-outside-summer.png")
}

.card:nth-of-type(5) .image-container {
    background-image: url("https://axlwatch.se/wp-content/uploads/2023/03/DALL·E-2023-03-17-10.24.09-wristwatch-product-pictures-outside-summer.png")
}



.image-container {
    width: 12em;
    height: 12em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 30%;
    padding: 1em;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);

}

.image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0, 0, 0, .1);
    border-radius: 30%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
}